<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.king.bean.ssm.mapper.chapter5.MaleHealthFormMapper">
	<select id="getMaleHealthForm" parameterType="long" resultType="maleHealthForm">
		SELECT *
		FROM t_male_health_form
		<where>
			<if test="empId != null">
				emp_id = #{empId}
			</if>
		</where>
	</select>
</mapper>
