<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.king.ssm.mapper.chapter5.EmployeeTaskMapper">
	
	<resultMap type="employeeTask" id="employeeTaskMap">
		<id column="id" property="id"/>
		<result column="emp_id" property="empId"/>
		<result column="task_name" property="taskName"/>
		<result column="note" property="note"/>
		<association property="task" column="id=task_id" select="getTask" />
	</resultMap>
	
	<select id="getEmployeeTask" resultMap="employeeTaskMap">
		SELECT *
		FROM t_employee_task
		<where>
			<if test="empId != null">
				emp_id = #{empId}
			</if>
		</where>
	</select>
	
</mapper>